<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<h3>Student Registration Form</h3>
<!-- th:field mean bind the value to student object -->
<form th:action="@{/student/processStudentFrom}" th:object="${student}" method="post">
    First Name: <label><input type="text" th:field="*{firstName}"/></label>
    <!-- display error messages ( if present) -->
    <span th:if="${#fields.hasErrors('firstName')}"
          th:errors="*{firstName}"
          class="error"></span>
    <br><br>
    Last Name: <label><input type="text" th:field="*{lastName}"/></label>
    <br><br>
    Phone Number: <label><input type="tel" th:field="*{phoneNumber}"/></label>
    <span th:if="${#fields.hasErrors('phoneNumber')}"
          th:errors="*{phoneNumber}"
          class="error"></span>
    <br><br>
    Age: <label><input type="text" th:field="*{age}"/></label>
    <span th:if="${#fields.hasErrors('age')}"
          th:errors="*{age}"
          class="error"></span>
    <br><br>
    Promotion Code: <label><input type="text" th:field="*{promotionCode}"/></label>
    <span th:if="${#fields.hasErrors('promotionCode')}"
          th:errors="*{promotionCode}"
          class="error"></span>
    <br><br>
    Country:
    <!-- Drop down list of country -->
    <label>
        <select th:field="*{country}">
            <!-- display drop down list dynamically  and loop over list of countries -->
            <option th:each="country: ${countries}" th:value="${country}" th:text="${country}"></option>
        </select>
    </label>
    <br><br>
    Favorite Programming Languages
    <br><br>
    <label>
        <input type="radio" th:field="*{favoriteLanguage}"
               th:each="language: ${languages}"
               th:value="${language}"
               th:text="${language}"/>
    </label>
    <br><br>
    Favorite Operating System
    <br><br>
    <label><input type="checkbox" th:each="os : ${operatingSystem}"
                  th:field="*{favoriteOS}"
                  th:value="${os}" th:text="${os}"></label>
    <br><br>
    <input type="submit" value="Done"/>

</form>

</body>
</html>